.product{
    display: flex;
}
.drinks{
    display: flex;
    width: 60%;
    padding: 10px;
}
.whiskey{
    display: flex;
    padding: 15px;
    padding-right: 80px;
   
}



h3{
    font-size: 15px;
    margin: 0;
}