.product{
    display: flex;
    background-color: aliceblue;
    margin-top: -5px;
 
}
.drinks{
    display: flex;
    width: 70%;
    padding: 10px;
    background-color: white;
    margin-right: 20px;    
}
.whiskey{
    padding: 15px;
    padding-right: 80px;
    border: 10px;
    width: 30%;        
}

.whiskey_price{
         width: 70%;
}

.share_products{
    margin-top: 20px;
}

 hr{
    height: 0.05px;
    color: white;
    background-color: white;
} 

h3{
    font-size: 15px;
    margin: 0;
}

.whiskey_rating{
    display: flex;

}
.cart{
    display: flex;
    background-color: rgb(106, 106, 237);
    border-radius: 5px;
    text-align: center; 
}
/* .whiskey_price{
    border-right: 0.05px solid;
} */
.promotions1{
    display: flex;
    margin-top: 15px;
}
.promotions2{
    display: flex;
    margin-top: 15px;
}
.socials{
    display: flex;
    margin-top: 10px;
}

.delivery_location{
    width: 30%;
    background-color: white;
    margin-right: 10px;
}
.cities{
    margin-top: 10px;
}
.location{
    margin-top: 10px;
    padding: 5px;
}
.delivery_options{
    margin-top: 20px;
}
.door_delivery{
    display: flex;
}
.door_delivery1{
   border: 2px solid;
}